html {
    overflow-y: scroll;
}

body {
    display: block;
    margin:0 auto;
    background-image: url(../images/background.jpg);
    background-size: cover;
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    color: white;


}

h1 {
    font-family: 'Monoton', cursive;
    font-size: 85px;
    padding: 35px 0 5px 0;
    letter-spacing: 5px;
}

a, 
a:hover {
    color: white;
    text-decoration: none;
}

.buttons {
    justify-content: center;
}

.btn-primary {
    font-weight: bold;
}

.comedianButton {
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    color: rgb(255, 0, 0);
    background: lightgray;
    margin: 5px;
    width: 175px;
    max-width: 175px;
    height: 30px;
    max-height: 50px;
    line-height: 20px; 
}

label {
    font-family: 'Bree Serif', serif;
    font-size: 18px;
}

.form-group {
    padding: 0 0 15px 0;
}

.btn-primary,
#add-comedian {
    font-family: 'Bree Serif', serif;
    font-weight: normal;
}

.gifs-body {
    padding-bottom: 50px;
}

.gifs-holder {
    margin-left: auto;
    margin-right: auto;
}

.gif-box {
    float: left;
    margin: 10px 10px 10px 10px;
    font-family: 'Bree Serif', serif;
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
