body {
    background-image: url(../images/background.jpg);
    background-size: 100%;
    color: white;
}

h1 {
    font-family: 'Monoton', cursive;
    font-size: 75px;
    padding: 35px 0 10px 0;
    letter-spacing: 5px;
}

.buttons {
    justify-content: center;
}

.btn-primary {
    font-weight: bold;
}

.comedianButton {
    font-weight: bold;
    color: rgb(255, 0, 0);
    background: lightgray;
    margin: 5px;
    width: 175px;
    height: 30px;
    line-height: 20px;
    
}

label {
    font-weight: bold;
    font-size: 18px;
}

.form-group {
    padding: 20px 0 0 0;
}

